In [33]:
import pandas as pd
import numpy as np
import csv
import pymysql as sql

In [34]:
#connect to company DB
conn = sql.connect(host='wingz-platform-read001.c8voyumknq5z.us-west-1.rds.amazonaws.com',
                            user='wingz-read-only', password='4P4v53S256hW7Z2X',
                            db='wingz-prod')

In [35]:
#function to query results into a pandas dataframe
def query(query):
    return pd.read_sql(query, con=conn)

In [36]:
ridersQuery = """select rider_id, COUNT(rider_id) as 'Rides Booked', 
sum(case when charged_to_rider = 0 then 0 else 1 end) as '# of rides paid',
SUM(charged_to_rider) as 'Total Cost', 
airport from rides where charged_to_rider is not null group by rider_id
"""

ridersDF = query(ridersQuery)

In [38]:
driversQuery = """
SELECT sub.nom, sub.prenom, rides.driver_id, count(rides.driver_id) AS "# of rides accepted", 
sum(case when unavailable_requested_driver_fallback = 0 then 1 else 0 end) as "# of rides provided"
FROM rides, (select utilisateurs.id_utilisateur,utilisateurs.prenom,utilisateurs.nom
from utilisateurs
where utilisateurs.driver_activated_at is not NULL and utilisateurs.deleted_at is NULL and utilisateurs.id_driver_info is not NULL) sub
WHERE parent_id is NOT null AND state_id in (6,7,8) AND date_reservation > '2016-01-01'
and rides.driver_id = sub.id_utilisateur
group by driver_id
"""

,nom,prenom,driver_id,# of rides accepted,# of rides provided
0,Romand,Jeremie,19810,8,3.0
1,Taguchi,Dennis,31267,150,109.0
2,Baumbach,Christof,31294,1,0.0
3,Shiver,Keith,33738,22,15.0
4,Vasquez Gonzalez,Miguelangel,40795,106,101.0
5,Escobar,Alex,43159,46,38.0
6,Vinnicov,Yuri,43330,30,29.0
7,Bae,Nelson,43633,115,96.0
8,Shakya,Yugesh,43926,131,122.0
9,Piperdi,Yusuf,44363,311,281.0
10,Wu,James,44794,160,151.0
11,Singh,Inder,45662,393,308.0
12,Choi,Chris,45991,48,47.0
13,Naqvi,Syed,46854,13,12.0
14,Linter,Jane,47416,19,18.0
15,Hothi,Manju,48753,1218,664.0
16,Khalil,Ali,49126,31,28.0
17,Morvan,Maelig,49793,83,73.0
18,Westman,Kevin,50189,227,205.0
19,Gonzalez,Antonio,50502,141,130.0
20,Rinaldi,Dave,50532,5,5.0
21,Mikhail,Melad,51105,23,22.0
22,Abdeljawad,Ahmad,51367,77,63.0
23,Sanni,Waliou,51736,74,71.0
24,Tabb,Debby,51800,7,6.0
25,Rahman,Muhammed,52344,30,28.0
26,Young,Bill,52401,78,72.0
27,Goodenough,Marshall Scott,53737,330,295.0
28,Mohammed,Mahdi,53787,52,33.0
29,Butt,Tahir,54136,91,66.0
...,...,...,...,...,...
533,Corbett,Brad,133677,1,1.0
534,Olmsted,Ruth,133693,100,85.0
535,Gray,Christopher,134250,10,9.0
536,Abdulqader,Mohammed,134281,89,74.0
537,Abdulqader,Mustafa,134345,141,93.0
538,Nduaguba,Ndubuisi Nduaguba,134638,27,25.0
539,Blaylock,Eric,135321,11,11.0
540,Reed,Patricia,135408,11,11.0
541,Hoes,Michael,135519,14,13.0
542,Houseal,Jeff,135849,29,23.0
543,Agbude,John,135941,162,145.0
544,Davis,Christopher,136019,32,27.0
545,Charles,Natalie,136028,75,66.0
546,Tomlinson,John,136031,42,38.0
547,Rowshan,Maryam,136303,79,66.0
548,Milos,Stephen,136558,52,45.0
549,Anderson,William,136634,26,25.0
550,North,Alex,136789,24,21.0
551,Owoputi,Joseph,137185,167,159.0
552,Villarroel,Manuel,137286,5,5.0
553,Liendo,Lorenzo,137751,89,79.0
554,Davis,Kevin,137803,40,38.0
555,Yanis,Jesse Yanis,138133,69,58.0
556,Wiley,Cara,138151,1,1.0
557,Kasabov,Vito,138604,83,59.0
558,Haraden,Kristen,138640,44,38.0
559,Strader,Chris W,139195,85,55.0
560,Mccoy,Daniel,139492,56,46.0
561,Volter,Tykika,141372,72,62.0
562,Mittal,Abhishek,142158,26,24.0

In [39]:
activatedDriversQuery = """
select utilisateurs.id_utilisateur,utilisateurs.prenom,utilisateurs.nom
from utilisateurs
where utilisateurs.driver_activated_at is not NULL and utilisateurs.deleted_at is NULL and utilisateurs.id_driver_info is not NULL
"""

activatedDriversDF = query(activatedDriversQuery)

     id_utilisateur          prenom               nom
0             15045           Geoff          Mathieux
1             19810         Jeremie            Romand
2             28853            Fred             Gomez
3             31267          Dennis           Taguchi
4             31294        Christof          Baumbach
5             33738           Keith            Shiver
6             40795     Miguelangel  Vasquez Gonzalez
7             43159            Alex           Escobar
8             43330            Yuri          Vinnicov
9             43633          Nelson               Bae
10            43926          Yugesh            Shakya
11            44363           Yusuf           Piperdi
12            44794           James                Wu
13            45662           Inder             Singh
14            45991           Chris              Choi
15            46854            Syed             Naqvi
16            47416            Jane            Linter
17            48753           Manju             Hothi
18            49126             Ali            Khalil
19            49793          Maelig            Morvan
20            50189           Kevin           Westman
21            50502         Antonio          Gonzalez
22            50532            Dave           Rinaldi
23            51105           Melad           Mikhail
24            51367           Ahmad        Abdeljawad
25            51736          Waliou             Sanni
26            51800           Debby              Tabb
27            52344        Muhammed            Rahman
28            52401            Bill             Young
29            53737  Marshall Scott        Goodenough
..              ...             ...               ...
607          134647        Nicholas          Fletcher
608          135034         Gregory             Mcgee
609          135321            Eric          Blaylock
610          135408        Patricia              Reed
611          135519         Michael              Hoes
612          135589          Thomas             Jeter
613          135849            Jeff           Houseal
614          135941            John            Agbude
615          135998          Robert             Foltz
616          136000           Nakea           Samuels
617          136019     Christopher             Davis
618          136028         Natalie           Charles
619          136031            John         Tomlinson
620          136303          Maryam           Rowshan
621          136558         Stephen             Milos
622          136634         William          Anderson
623          136789            Alex             North
624          137185          Joseph           Owoputi
625          137286          Manuel        Villarroel
626          137751         Lorenzo            Liendo
627          137803           Kevin             Davis
628          138133     Jesse Yanis             Yanis
629          138151            Cara             Wiley
630          138604            Vito           Kasabov
631          138640         Kristen           Haraden
632          139195         Chris W           Strader
633          139492          Daniel             Mccoy
634          141372          Tykika            Volter
635          142158        Abhishek            Mittal
636          143176           Kanav           Mahajan

[637 rows x 3 columns]